@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  /* css variables */
  --dark-gray: #1a2a32;
  --gray: #2e4756;
  --turquoise: #3cc4bf;
  --yellow: #f2b147;
  --light-gray: #d3d3d3;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  border: none;
}
html,
body {
  background-color: var(--dark-gray);
  height: 100%;
}
body {
  display: flex;
  padding: 90px 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: 50px repeat(3, 80px) 60px;
  gap: 5px;
}
.turn {
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 3;
}
.actions {
  background-color: purple;
}
.square {
  background-color: red;
}
.score {
  background-color: blue;
}

@media (min-width: 768px) {
  .grid {
    width: 490px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: 50px repeat(3, 150px) 60px;
    gap: 20px;
  }
}

footer {
  color: white;
  margin-top: 50px;
}

footer p {
  margin-top: 10px;
  text-align: center;
}

footer a {
  color: var(--yellow);
}
